{%- if paginate.pages > 1 -%}
  <nav class="pagination-wrapper" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
    <ul class="pagination list-unstyled" role="list">
      {%- if paginate.previous -%}
        <li class="pagination__item pagination__item--prev">
          <a
            href="{{ paginate.previous.url }}"
            class="pagination__item-link link motion-reduce"
            aria-label="{{ 'general.pagination.previous' | t }}"
          >
            {% render 'icon', icon: 'chevron-left', class: 'icon icon-caret' %}
            {{ 'general.pagination.previous' | t }}
          </a>
        </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        {%- if part.is_link -%}
          <li class="pagination__item">
            <a
              href="{{ part.url }}"
              class="pagination__item-link link"
              aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
            >
              {{- part.title -}}
            </a>
          </li>
        {%- else -%}
          {%- if part.title == paginate.current_page -%}
            <li class="pagination__item pagination__item--current">
              <span
                class="pagination__item-link"
                aria-current="page"
                aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
              >
                {{- part.title -}}
              </span>
            </li>
          {%- else -%}
            <li class="pagination__item">
              <span class="pagination__item-link">{{ part.title }}</span>
            </li>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}

      {%- if paginate.next -%}
        <li class="pagination__item pagination__item--next">
          <a
            href="{{ paginate.next.url }}"
            class="pagination__item-link link motion-reduce"
            aria-label="{{ 'general.pagination.next' | t }}"
          >
            {{ 'general.pagination.next' | t }}
            {% render 'icon', icon: 'chevron-right', class: 'icon icon-caret' %}
          </a>
        </li>
      {%- endif -%}
    </ul>
  </nav>
{%- endif -%}
